@{
    ViewBag.Title = "Character Generator";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>New Character</title>
</head>
<body>
    <div>
        Home Page for Character Generator.
    </div>
</body>
</html>