
@{
    ViewBag.Title = "NewCharacter";
}

<h2>New Character</h2>

@*used https://www.devcurry.com/2011/09/html-5-number-spinner-control.html for how to get number boxes*@

<body>
    <form>
        <label for="strength">
            Strength
            <input type="number" name="strength" id="strength" min="7" max="18" step"=1" value="10" />
        </label>
        <label for="dexterity">
            Dexterity
            <input type="number" name="dexterity" id="dexterity" min="7" max="18" step"=1" value="10" />
        </label>
    </form>
</body>

