
@{
    ViewBag.Title = "NewCharacter";
}

<h2>New Character</h2>

@*used https://www.devcurry.com/2011/09/html-5-number-spinner-control.html for how to get number boxes*@

<body>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="charName">Character Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="charName" id="charName" min="2" max="30" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="strength">Strength</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="strength" id="strength" min="7" max="18" step="1" value="10" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="dexterity">Dexterity</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="dexterity" id="dexterity" min="7" max="18" step="1" value="10" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="constitution">Constitution</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="constitution" id="constitution" min="7" max="18" step="1" value="10" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="intelligence">Intelligence</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="intelligence" id="intelligence" min="7" max="18" step="1" value="10" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="wisdom">Wisdom</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="wisdom" id="wisdom" min="7" max="18" step="1" value="10" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="charisma">Charisma</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="charisma" id="charisma" min="7" max="18" step="1" value="10" />
            </div>
        </div>

</form>
</body>

