
@{
    ViewBag.Title = "NewCharacter";
}

<h2>New Character</h2>

@*used https://www.devcurry.com/2011/09/html-5-number-spinner-control.html for how to get number boxes*@

<body>
    <form>
        <div>
            <label for="strength">
                Strength
                <input type="number" name="strength" id="strength" min="7" max="18" step="1" value="10" />
            </label>
        </div>
        <div>
            <label for="dexterity">
                Dexterity
                <input type="number" name="dexterity" id="dexterity" min="7" max="18" step="1" value="10" />
            </label>
        </div>
        <div>
            <label for="constitution">
                Constitution
                <input type="number" name="constitution" id="constitution" min="7" max="18" step="1" value="10" />
            </label>
        </div>
        <div>
            <label for="intelligence">
                Intelligence
                <input type="number" name="intelligence" id="intelligence" min="7" max="18" step="1" value="10" />
            </label>
        </div>
        <div>
            <label for="wisdom">
                Wisdom
                <input type="number" name="wisdom" id="wisdom" min="7" max="18" step="1" value="10" />
            </label>
        </div>
        <div>
            <label for="charisma">
                Charisma
                <input type="number" name="charisma" id="charisma" min="7" max="18" step="1" value="10" />
            </label>
        </div>
    </form>
</body>

